{% extends 'base.html' %}

{% block content %}

<h1 class="titleGal">Mobillez Gallery</h1>

    <a class="btn btn-info" href="{% url 'addPic' %}" role="button" style="margin: 5%;">Ajouter une photo</a>

<div class="gallery-image">



for item in gallery

    <div class="img-box">
      <img src="https://picsum.photos/350/250?image=444" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Library</p>
        </div>
      </div>
    </div>


 endfor

  </div>
{% endblock %}