{% extends 'base.html' %}

{% block content %}

<h1 class="titleGal">Mobillez Gallery</h1>

    <a class="btn btn-info" href="{% url 'addPic' %}" role="button" style="margin: 5%;">Ajouter une photo</a>

<div class="gallery-image">



{% for photo in GalleryPhoto %}

    <div class="img-box">
      <img src="{{ MEDIA_ROOT }}{{ photo.images.url }}" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>{{ photo.title }}</p>
        </div>
      </div>
    </div>


    {% endfor %}

  </div>
{% endblock %}